<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if site.title-img %}
        <a class="navbar-brand navbar-brand-logo" href="{{ site.url }}"><img src="{{ site.title-img }}"/></a>
      {% else %}
        <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        {% assign nav_order = "Home,Projects,Posts,Tags" | split: "," %}
        {% for nav in nav_order %}
          {% for link in site.navbar-links %}
            {% if link[0] == nav %}
              <li>{% include navbarlink.html link=link %}</li>
            {% endif %}
          {% endfor %}
        {% endfor %}
        <li class="navbar-search">
          <button id="search-toggle" class="navbar-icon-button" type="button" aria-label="Open search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </li>
        <li class="navbar-theme-toggle">
          <button id="theme-toggle" class="navbar-icon-button" type="button" aria-label="Toggle theme" title="Toggle theme">
            <i id="theme-toggle-icon" class="fa fa-adjust" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>

    {% if page.image and (layout.show-avatar or page.show-avatar) %}
      <div class="avatar-container">
        <div class="avatar-img-border">
          <a href="{{ site.url }}">
            <img class="avatar-img" src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" />
          </a>
        </div>
      </div>
    {% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
      <div class="avatar-container">
        <div class="avatar-img-border">
          <a href="{{ site.url }}">
            <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</nav>

<div id="search-modal" class="search-modal" aria-hidden="true">
  <div class="search-modal-card" role="dialog" aria-modal="true" aria-label="Search posts">
    <button id="search-modal-close" class="search-modal-close" type="button" aria-label="Close search">&times;</button>
    <div class="search-modal-header">
      <i class="fa fa-search search-modal-icon" aria-hidden="true"></i>
      <input type="text" id="search-modal-input" class="search-modal-input" placeholder="Search posts..." autocomplete="off" />
      <span class="search-modal-hint" aria-hidden="true">ESC</span>
    </div>
    <div id="search-modal-results" class="search-modal-results"></div>
  </div>
</div>
